.dark{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graysc
  ;
}
.light{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  color-scheme: light dark;
  color: #242424;
  background-color: rgba(228, 226, 226, 0.87);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graysc
  ;
}
.dark .con-input{
  background-color: #000000;
  border-radius: 10px;
}
.light .con-input{
  background-color: #ffff;
  border-radius: 10px;
}
  
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.inf{
  display: flex;
}
.inf h3{
  margin: 10px;
  margin-left: 30px;
}
.hamburger{
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: fixed;
  top: 20px;
  left: 20px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -500px; /* مخفی شده سمت راست */
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
  z-index: 1000;
}
.light .sidebar{
  background-color: #ffff;
}

.sidebar.open {
  left: 0; /* وقتی باز شد */
}

.close-button{
  cursor: pointer;
  width: 30px;
  position: absolute;
  left: 280px;
  transition: opacity 0.2s ease;
}
.top-side{
  display: flex;
  align-items: center;
}
.top-side h2{
  margin: 0;
}
.light .top-side h2{
  color: #242424;
}
.wrap-items{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 54px;
  font-size: 18px;
}
.wrap-items a{
  text-align: justify;
  width: 100%;
  color: white;
  padding: 10px 5px;
  border-radius: 5px;
}
.light .wrap-items a{
  color: #242424;
}
.light .wrap-items a:hover{
  transition: all 0.2s ease-in-out;
  background-color: #e9e9e9;
}
.wrap-items a:hover{
  transition: all 0.2s ease-in-out;
  background-color: #3b3b3b;
}
.inf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.title-task-item {
  display: flex;
  justify-content: space-between;
}
.filter-img{
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.filter-con {
  position: relative;
  display: inline-block;
}

.date-filter {
  background-color: #201f1fcc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}
.con-date-filter{
  padding: 10px;
  background-color: #000000;
  position: absolute;
  top: 160px;       
  left: 90px;
  transform: translate(-50%, -110%);
  z-index: 1000;
}
.inp-cl{
  display: flex;
  justify-content: space-between;
}
.inp-cl button{
  padding: 5px;
  background-color: #201f1fcc;
  font-size: 12px;
  border-radius: 10px;
  margin-left: 2px;
}
.close-filter{
  width: 20px;
  cursor: pointer;
}
.top-fil{
  display: flex;
  justify-content: space-between;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(26px); 
  
}
input:checked + .slider {
  background-color: #4caf50; 
}

input:not(:checked) + .slider {
  background-color: #ccc; 
}
.language-change{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  padding: 10px 5px;
}
.language-change p{
  margin: 0;
}
.language-change:hover{
  transition: all 0.2s ease-in-out;
  background-color: #3b3b3b;
}