.dark ul{
    list-style: none;
    padding-left: 0px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid #706b6b;
}
.light ul{
    list-style: none;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0;
}

.dark li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7a7373;
    padding: 7px 22px;
}
.light li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7a7373;
    padding: 7px 22px;
}
li:last-child {
    border-bottom: none;
}
.dark .de-ed button{
    background-color: #242424;
}
.light .de-ed button{
    background-color: #e9e9e9;
    color: black;
}
.into-li{
    display: flex;
    align-items: center;
}
.into-li label{
    font-size: 18px;
    margin-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #6b6868;
}
.into-li label:last-child{
    border-right: none;
}
.light .into-li input{
    background-color: inherit;
}
.de-ed{
    display: flex;
    gap: 10px;
}
.con-inputs-edit{
    display: flex;
}
.con-inputs-edit input{
    background-color: #201f1fcc;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.light .con-inputs-edit input{
    cursor: pointer;
    background-color: #f3f3f3cc;
    color: #524e4e;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.wrapper-input{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.light input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;   /* پس‌زمینه سفید */
    border: 2px solid #ccc;  /* کادر */
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.dark input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color:#524e4e;   /* پس‌زمینه سفید */
    border: 2px solid #858585;  /* کادر */
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.light input[type="date"]::-webkit-calendar-picker-indicator,
.light input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

